body {
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  margin: 20px 0;
  margin-top: 60px;
}

.title-box {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  text-align: left;
  line-height: 1.4;
}

/* レイアウト */
.container {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 20px;
  margin-top: 60px;
  align-items: flex-start;
}

/* 左 */
.left {
  width: 400px;
}

#result {
  font-size: 54px;
  margin: 60px 0;
  min-height: 100px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
}

label {
  margin-right: 12px;
  cursor: pointer;
}

.modal-content button {
  font-size: 16px;
  padding: 4px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal-content {
  position: relative;
}

.right {
  width: 420px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
  width: 400px;
}

th, td {
  width: 100px;
  height: 40px;
  border: 1px solid #333;
  text-align: center;
  font-size: 14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reset-area {
  margin-top: 10px;
  text-align: right;
}

.help-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #333;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  background: #fff;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: #fff;
  width: 320px;
  margin: 120px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}

.hidden {
  display: none;
}